
body {
    background-color: #0a0a0a;
    color: whitesmoke;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    padding-top: 50px;
    margin: 0;
    animation-name: flash;
    animation-duration: 3s;
}

@keyframes flash {
    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#manifesto {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 100px;
    padding-bottom: 50px;
}

#manifesto div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

#manifesto p {
    font-size: 1.2rem;
    margin: 0;
}

#pea,
#wall,
#box,
#target,
#light {
    width: 32px;
    height: 32px;
    background: url(../img/tilesheet.png);
    margin-left: 5px;
}

#wall {
    background: url(../img/tilesheet.png) -32px 0;
}

#box {
    background: url(../img/tilesheet.png) -64px 0;
}

#target {
    background: url(../img/tilesheet.png) -96px 0;
}

#light {
    background: url(../img/tilesheet.png) -128px 0;
}

#btn-start {
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid #e7e7e7;
    font-size: 1rem;
    padding: 15px 80px;
    border-radius: 6px;
}

#btn-start:hover {
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #0a0a0a;
}

#instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

#instructions div {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#arrowkeys img {
    height: 64px;
}

#z img {
    height: 32px;
}

#spacebar img {
    height: 32px;
}

#instr-and-level {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    margin: 0;
}

#instr-and-level.hidden,
#onwin-popup.hidden,
canvas.hidden,
.mobile-controls.hidden {
    display: none;
}

#level-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    background-color: #ffcc00;
    border-radius: 4px;
    padding: 8px;
    color: #0a0a0a;
}

#level-menu label {
    font-size: 1rem;
    margin-right: 10px;
}

#onwin-popup {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffcc00;
    border-radius: 4px;
    padding: 15px;
    position: absolute;
    top:40%;
}

#next-level {
    margin: 5px;
    width: 10vw;
}

span {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
}

#next-level {
    background-color: whitesmoke;
    border: 1px solid #0a0a0a;
    border-radius: 4px;
    font-size: 1rem;
    padding: 5px;
    margin-top: 20px;
}

#next-level:hover {
    background-color: #0a0a0a;
    color: whitesmoke;
}

@media (max-width: 768px) {
    #instructions {
        display: none;
    }

    #left-right,
    #up-down {
        display: flex;
        position: fixed;
        padding: 10px;
    }

    #left-right { 
        left: 0;
        bottom: 0;
    }

    #up-down {
        right: 0;
        bottom: 0;
    }

    #left,
    #right,
    #up,
    #down {
        width: 64px;
        height: 64px;
    }

    #left,
    #up {
        margin-right: 10px;
    }

    #left {
        background: url(../img/left.png);
    }

    #right {
        background: url(../img/right.png);
    }

    #up {
        background: url(../img/up.png);
    }

    #down {
        background: url(../img/down.png);
    }
}


@media (max-width: 411px) {
    h1 {
        font-size: 1.5rem;
        padding-top: 25px;
    }

    #instr-and-level {
        padding: 15px 0;
    }
    #level-menu {
        margin: 0;
    }
}